In [24]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from keras.preprocessing.image import ImageDataGenerator
import numpy as np
import pandas as pd

In [14]:
train = pd.read_csv('traininglabels.csv')
sample_sub = pd.read_csv('SampleSubmission.csv')
print(train)
train.head()
train.describe()

                image_id  has_oilpalm   score
0      img_000002017.jpg            0  0.7895
1      img_000012017.jpg            0  1.0000
2      img_000022017.jpg            0  1.0000
3      img_000072017.jpg            0  1.0000
4      img_000082017.jpg            0  1.0000
5      img_000092017.jpg            0  1.0000
6      img_000102017.jpg            0  1.0000
7      img_000112017.jpg            0  0.8352
8      img_000132017.jpg            0  1.0000
9      img_000142017.jpg            0  1.0000
10     img_000152017.jpg            0  1.0000
11     img_000172017.jpg            0  1.0000
12     img_000192017.jpg            0  1.0000
13     img_000202017.jpg            0  1.0000
14     img_000212017.jpg            0  1.0000
15     img_000232017.jpg            0  1.0000
16     img_000242017.jpg            0  1.0000
17     img_000252017.jpg            0  1.0000
18     img_000272017.jpg            0  1.0000
19     img_000282017.jpg            0  1.0000
20     img_000302017.jpg            0  0.7730
21     img_000312017.jpg            0  1.0000
22     img_000322017.jpg            0  1.0000
23     img_000332017.jpg            0  1.0000
24     img_000342017.jpg            0  1.0000
25     img_000352017.jpg            0  1.0000
26     img_000362017.jpg            0  1.0000
27     img_000372017.jpg            0  1.0000
28     img_000392017.jpg            0  1.0000
29     img_000402017.jpg            0  0.7745
...                  ...          ...     ...
15214  img_112242018.jpg            0  1.0000
15215  img_112252018.jpg            0  1.0000
15216  img_112272018.jpg            0  0.8112
15217  img_112292018.jpg            0  1.0000
15218  img_112302018.jpg            0  1.0000
15219  img_112312018.jpg            0  1.0000
15220  img_112322018.jpg            0  1.0000
15221  img_112332018.jpg            0  0.8292
15222  img_112342018.jpg            1  1.0000
15223  img_112352018.jpg            0  1.0000
15224  img_112362018.jpg            0  0.6095
15225  img_112372018.jpg            0  1.0000
15226  img_112402018.jpg            0  0.6076
15227  img_112412018.jpg            0  1.0000
15228  img_112432018.jpg            0  0.7991
15229  img_112442018.jpg            0  1.0000
15230  img_112482018.jpg            0  1.0000
15231  img_112492018.jpg            0  0.4104
15232  img_112502018.jpg            0  1.0000
15233  img_112512018.jpg            0  0.8006
15234  img_112532018.jpg            0  1.0000
15235  img_112542018.jpg            0  1.0000
15236  img_112552018.jpg            0  1.0000
15237  img_112562018.jpg            0  1.0000
15238  img_112592018.jpg            0  1.0000
15239  img_112602018.jpg            0  0.6093
15240  img_112612018.jpg            0  1.0000
15241  img_112622018.jpg            0  1.0000
15242  img_112632018.jpg            0  1.0000
15243  img_112642018.jpg            0  1.0000

[15244 rows x 3 columns]

        has_oilpalm         score
count  15244.000000  15244.000000
mean       0.061795      0.955769
std        0.240790      0.109367
min        0.000000      0.388700
25%        0.000000      1.000000
50%        0.000000      1.000000
75%        0.000000      1.000000
max        1.000000      1.000000

In [15]:
(train.has_oilpalm==1).sum()

942

In [ ]:
train.shape()

In [16]:
(train.has_oilpalm==0).sum()

14302

In [56]:
train_generator = train_datagen.flow_from_directory(
    directory=r"./train",
    target_size=(224, 224),
    color_mode="rgb",
    batch_size=32,
    class_mode="categorical",
    shuffle=True,
    seed=42
)

Found 15244 images belonging to 1 classes.

In [55]:
validation__generator = test_datagen.flow_from_directory(
    directory=r'.\valid',
    target_size=(224, 224),
    color_mode="rgb",
    batch_size=32,
    class_mode="categorical",
    shuffle=True,
    seed=42
)

Found 2178 images belonging to 1 classes.

In [44]:
test_generator = test_datagen.flow_from_directory(
    directory=r'.\test',
    target_size=(224, 224),
    color_mode="rgb",
    batch_size=1,
    class_mode=None,
    shuffle=False,
    seed=42
)

Found 4356 images belonging to 1 classes.

In [94]:
	model = Sequential()
	model.add(Dense(12, input_dim=8, activation='relu'))
	model.add(Dense(8, activation='relu'))
	model.add(Dense(1, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	print (model)

<keras.engine.sequential.Sequential object at 0x0000004328439C18>

In [ ]:
# Train model on dataset
model.fit_generator(generator=train_generator,
                    validation_data=validation_generator,
                    use_multiprocessing=True,
                    workers=6)